body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body,
.lead {
  font-size: 135%;
}

.creds {
  font-size: 80%;
}

.jumbotron {
  background-color: #f9e7e7;
  background-image: url(img/background.jpg);
  background-position: left top;
  background-repeat: repeat;
  border-radius: 15px;
}
.jumbotron h1 {
  font-family: 'Lobster', cursive;
}

.btn {
  font-size: 120%;
}

.jumbotron .container {
  width: 100%;
}